* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav {
  text-align: center;
  max-width: 50%;
  height: 90vh;
  margin-left: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 0;
}

.form {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 10%;
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 23%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form input {
  display: block;
  border: none;
  border-bottom: 4px solid rgb(172, 177, 196);
  width: 60%;
  font-weight: 500;
  color: rgb(197, 183, 172);
}
.form input::placeholder {
  font-weight: 500;
  color: rgb(197, 183, 172);
}
.form button {
  background-color: rgb(237, 106, 90);
  border: none;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgb(249, 207, 201) 0px -12px 30px, rgb(249, 207, 201) 0px 4px 6px,
    rgb(249, 207, 201) 0px 12px 13px, rgba(249, 207, 201) 0px -3px 5px;
  /* box-shadow: rgb(249,207,201); */
  color: white;
  width: 20%;
  height: 20%;
}

#body {
  background-color: rgb(246, 241, 240);
}
#nav h1 {
  background: linear-gradient(to right, rgb(95, 72, 136), rgb(83, 96, 147));
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 20%;
  color: white;
  font-weight: 400;
  text-align: center;
}

#list {
  transition: 0.35s;
  background-color: white;
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 10%;
  width: 80%;
  height: 60%;
  border-radius: 15px;
  flex-wrap: wrap;
}
#list h2 {
  font-size: medium;
  font-weight: 800;
  text-align: left;
}

.table {
  width: 100%;
}

.table,
tr,
td {
  border: 1px solid rgb(244, 239, 239);
  box-sizing: border-box;
  overflow: auto;
}
td:nth-child(1) {
  width: 70%; /* Set the width of the first column to 70% */
}

td:nth-child(2) {
  width: 30%; /* Set the width of the second column to 30% */
}

#head > td ~ td {
  text-align: center;
  padding-left: 0;
}
.delete > img {
  width: 20px;
  height: 20px;
}

.delete {
  border: none;
  background-color: white;
}

#head {
  background-color: rgb(249, 249, 249);
  font-weight: 600;
  max-width: 50%;
  text-align: left;
}
#head > td {
  padding-left: 20px;
}
.tasks {
  font-size: medium;
  padding: 10px;
  padding-left: 20px;
  padding-right: 0;
  font-weight: 500;
  text-align: left;
}
.delbut {
  text-align: center;
}
.form input:target {
  border: none;
}
